$image_path: "assets/images/";

$skillIcons:(
	linux: 'skills/linux.png',
	git: 'skills/git.png',
	github: 'skills/github.png',
	bitbucket: 'skills/bitbucket.png',
	docker: 'skills/docker.png',
	packer: 'skills/packer.png',
	terraform: 'skills/terraform.png',
	gcp: 'skills/gcp.png',
	ror: 'skills/ror.png',
	golang: 'skills/golang.png',
	postgres: 'skills/postgres.png',
	html: 'skills/html.png',
	javascript: 'skills/javascript.png',
	react: 'skills/react.png',
	mysql: 'skills/mysql.png',
	sass: 'skills/sass.png'
)